html {
    background: aliceblue;
    font-family: "Courier";
}

h1 {
    font-size: 12pt;
}

p {
    font-size: 12pt;
}

code {
    white-space: pre;
    color: darkred;
    background-color: #eee;
    border-radius: 15px;
    padding: 0 3px;
}

a {
    font-size: 12pt;
    color: black;
}

a:visited {
    color: black;
}