html * {
    background: #FFBA84;
    font-family: "Courier";
}

h1 {
    font-size: 12pt;
}
p {
    font-size: 12pt;
}

a {
    font-size: 12pt;
    text-decoration: none;
    color: black;
}

a:hover {
    // todo
}

a:visited {
    color: black;
}